_ReSharper.Ajedrez/AssemblyInfoCache.dat
_ReSharper.Ajedrez/BuildScriptCache/.crc
_ReSharper.Ajedrez/BuildScriptCache/.version
_ReSharper.Ajedrez/BuildScriptCache/4/1181c7fb.dat
_ReSharper.Ajedrez/ConditionalNames/.crc
_ReSharper.Ajedrez/ConditionalNames/.version
_ReSharper.Ajedrez/ConditionalNames/6/5e24a989.dat
_ReSharper.Ajedrez/GeneratedFiles/.version
_ReSharper.Ajedrez/GeneratedFiles/6/5e24a989.dat
_ReSharper.Ajedrez/JavaScriptCache/.crc
_ReSharper.Ajedrez/JavaScriptCache/.version
_ReSharper.Ajedrez/JavaScriptCache/2/43598064.dat
_ReSharper.Ajedrez/JSTest/.crc
_ReSharper.Ajedrez/JSTest/.version
_ReSharper.Ajedrez/ModuleIds.xml
_ReSharper.Ajedrez/MVC/.crc
_ReSharper.Ajedrez/MVC/.version
_ReSharper.Ajedrez/MvcAnnotations/.crc
_ReSharper.Ajedrez/MvcAnnotations/.version
_ReSharper.Ajedrez/MvcAnnotations/2/538cd55.dat
_ReSharper.Ajedrez/NamedArguments/.crc
_ReSharper.Ajedrez/NamedArguments/.version
_ReSharper.Ajedrez/NamedArguments/7/2003f67a.dat
_ReSharper.Ajedrez/PersistentCaches/000003.log
_ReSharper.Ajedrez/PersistentCaches/CURRENT
_ReSharper.Ajedrez/PersistentCaches/LOCK
_ReSharper.Ajedrez/PersistentCaches/LOG
_ReSharper.Ajedrez/PersistentCaches/MANIFEST-000002
_ReSharper.Ajedrez/ProjectModel/projectModel.dat
_ReSharper.Ajedrez/Resources/.crc
_ReSharper.Ajedrez/Resources/.version
_ReSharper.Ajedrez/SymbolCache.bin
_ReSharper.Ajedrez/TagPrefixes/.crc
_ReSharper.Ajedrez/TagPrefixes/.version
_ReSharper.Ajedrez/WebSymbols/.crc
_ReSharper.Ajedrez/WebSymbols/.version
_ReSharper.Ajedrez/XmlIndex/Accessibility.xml/870D5A60.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Framework.4.0.0.0.Nullness.Generated.xml/E1EA0AC5.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Framework.xml/3B4F5530.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Tasks.v4.0.4.0.0.0.Nullness.Generated.xml/50D80BC5.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/FB562A40.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Utilities.v4.0.4.0.0.0.Nullness.Generated.xml/07BCA185.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/BFE953F8.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.CSharp.4.0.0.0.Nullness.Generated.xml/A3901AA5.bin
_ReSharper.Ajedrez/XmlIndex/Microsoft.CSharp.xml/D5E37BAF.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/8991B9D5.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/A19B3A1D.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/FFF49E25.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.4.0.0.0.Pure.xml/4E4DB2E6.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.I18n.xml/337D6A5E.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.Nullness.Manual.xml/AEF920D4.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.Pure.Manual.xml/8F252876.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.ValueFlow.xml/063EC469.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.xml/71BDE13E.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.xml/743ADB6C.bin
_ReSharper.Ajedrez/XmlIndex/mscorlib.xml/CFD54509.bin
_ReSharper.Ajedrez/XmlIndex/SMDiagnostics.4.0.0.0.Nullness.Generated.xml/244B92C5.bin
_ReSharper.Ajedrez/XmlIndex/System.4.0.0.0.Contracts.xml/9DCFFED5.bin
_ReSharper.Ajedrez/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/93108325.bin
_ReSharper.Ajedrez/XmlIndex/System.4.0.0.0.Pure.xml/7C4CD7E6.bin
_ReSharper.Ajedrez/XmlIndex/System.ComponentModel.DataAnnotations.4.0.0.0.Nullness.Generated.xml/6D21B885.bin
_ReSharper.Ajedrez/XmlIndex/System.ComponentModel.DataAnnotations.I18n.xml/51435D7E.bin
_ReSharper.Ajedrez/XmlIndex/System.ComponentModel.DataAnnotations.xml/C448AF2F.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/3D712C95.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/A7E8ACE5.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/B18D4E26.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.Install.4.0.0.0.Contracts.xml/5BC05F35.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.Install.4.0.0.0.Nullness.Generated.xml/F21BA145.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.Install.xml/F42CC37A.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.xml/092A1070.bin
_ReSharper.Ajedrez/XmlIndex/System.Configuration.xml/51C94CD5.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.4.0.0.0.Contracts.xml/B470AF75.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/2BE8DB85.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.4.0.0.0.Pure.xml/70473D06.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.LinqTunnel.xml/DC2C01E2.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.Nullness.Manual.xml/840981B4.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.Pure.Manual.xml/E1FED7D6.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.xml/11686E5B.bin
_ReSharper.Ajedrez/XmlIndex/System.Core.xml/9057731E.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.4.0.0.0.Contracts.xml/E1F5D1F5.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.4.0.0.0.Nullness.Generated.xml/CB9CCE05.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.4.0.0.0.Pure.xml/72ECCF86.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.DataSetExtensions.4.0.0.0.Nullness.Generated.xml/9BBF6C05.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.DataSetExtensions.I18n.xml/51C970FE.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.DataSetExtensions.xml/F4BC3A63.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.I18n.xml/E04152FE.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.OracleClient.4.0.0.0.Nullness.Generated.xml/7F324D45.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.OracleClient.xml/BA96A994.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/8FCE8945.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.SqlXml.xml/9A03804C.bin
_ReSharper.Ajedrez/XmlIndex/System.Data.xml/B7FA45F5.bin
_ReSharper.Ajedrez/XmlIndex/System.Deployment.4.0.0.0.Nullness.Generated.xml/D299FC85.bin
_ReSharper.Ajedrez/XmlIndex/System.Deployment.xml/56CC0FFC.bin
_ReSharper.Ajedrez/XmlIndex/System.Design.4.0.0.0.Nullness.Generated.xml/B79FD0C5.bin
_ReSharper.Ajedrez/XmlIndex/System.Design.xml/1169B4F7.bin
_ReSharper.Ajedrez/XmlIndex/System.DirectoryServices.4.0.0.0.Nullness.Generated.xml/E0BB4C05.bin
_ReSharper.Ajedrez/XmlIndex/System.DirectoryServices.Protocols.4.0.0.0.Nullness.Generated.xml/9B439365.bin
_ReSharper.Ajedrez/XmlIndex/System.DirectoryServices.Protocols.xml/0A97A989.bin
_ReSharper.Ajedrez/XmlIndex/System.DirectoryServices.xml/17DD44C2.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.4.0.0.0.Contracts.xml/344EECD5.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.4.0.0.0.Nullness.Generated.xml/2A3B3125.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.Design.4.0.0.0.Nullness.Generated.xml/FBB2BE45.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.Design.xml/8E3A0B79.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.Pure.xml/62409462.bin
_ReSharper.Ajedrez/XmlIndex/System.Drawing.xml/39C33485.bin
_ReSharper.Ajedrez/XmlIndex/System.Dynamic.4.0.0.0.Nullness.Generated.xml/661A5545.bin
_ReSharper.Ajedrez/XmlIndex/System.EnterpriseServices.4.0.0.0.Nullness.Generated.xml/5C938D85.bin
_ReSharper.Ajedrez/XmlIndex/System.EnterpriseServices.xml/BB58925E.bin
_ReSharper.Ajedrez/XmlIndex/System.I18n.xml/5B278F5E.bin
_ReSharper.Ajedrez/XmlIndex/System.Nullness.Manual.xml/A4E225D4.bin
_ReSharper.Ajedrez/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0917EF05.bin
_ReSharper.Ajedrez/XmlIndex/System.Numerics.xml/B6F071FD.bin
_ReSharper.Ajedrez/XmlIndex/System.Numerics.xml/F65D6778.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Caching.4.0.0.0.Nullness.Generated.xml/ACCA4445.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Caching.xml/129CA5BE.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Remoting.4.0.0.0.Nullness.Generated.xml/9F932845.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Remoting.xml/A5303EB6.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.4.0.0.0.Nullness.Generated.xml/99073725.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.Attributes.xml/AA29277F.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Contracts.xml/0AB585D3.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Contracts.xml/13934755.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Nullness.Generated.xml/324D5BA5.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/E636A127.bin
_ReSharper.Ajedrez/XmlIndex/System.Runtime.Serialization.xml/7CDC3839.bin
_ReSharper.Ajedrez/XmlIndex/System.Security.4.0.0.0.Contracts.xml/642F8175.bin
_ReSharper.Ajedrez/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/1C73ED85.bin
_ReSharper.Ajedrez/XmlIndex/System.Security.4.0.0.0.Pure.xml/66FACF06.bin
_ReSharper.Ajedrez/XmlIndex/System.Security.xml/55841E76.bin
_ReSharper.Ajedrez/XmlIndex/System.Security.xml/A33E1173.bin
_ReSharper.Ajedrez/XmlIndex/System.ServiceProcess.4.0.0.0.Nullness.Generated.xml/01494905.bin
_ReSharper.Ajedrez/XmlIndex/System.ServiceProcess.xml/DEE59913.bin
_ReSharper.Ajedrez/XmlIndex/System.Transactions.4.0.0.0.Nullness.Generated.xml/C6F46385.bin
_ReSharper.Ajedrez/XmlIndex/System.Transactions.xml/DBFAB5F2.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.4.0.0.0.Contracts.xml/96C4E455.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.4.0.0.0.Nullness.Generated.xml/579F98A5.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.4.0.0.0.Pure.xml/A1BC4D66.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.ApplicationServices.4.0.0.0.Nullness.Generated.xml/B6473DA5.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.ApplicationServices.xml/D971064F.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.Attributes.xml/032E88FF.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.I18n.xml/A93984DE.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.RegularExpressions.xml/00CA1780.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.Services.4.0.0.0.Nullness.Generated.xml/3E344B85.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.Services.Attributes.xml/D91AB31F.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.Services.xml/70FE39D5.bin
_ReSharper.Ajedrez/XmlIndex/System.Web.xml/7F630C15.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.4.0.0.0.Contracts.xml/5B44F5D5.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.4.0.0.0.Nullness.Generated.xml/E50B5A25.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.4.0.0.0.Pure.xml/F80B6EE6.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.I18n.xml/493F265E.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.Manual.xml/2DC6F1AA.bin
_ReSharper.Ajedrez/XmlIndex/System.Windows.Forms.xml/EF816551.bin
_ReSharper.Ajedrez/XmlIndex/System.Xaml.4.0.0.0.Nullness.Generated.xml/F1742545.bin
_ReSharper.Ajedrez/XmlIndex/System.Xaml.xml/C856BB1D.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/BD8E5935.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/FC42DB45.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.4.0.0.0.Pure.xml/1C612E46.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Attributes.xml/6BFCF35F.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.I18n.xml/16989EBE.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Linq.4.0.0.0.Contracts.xml/4B08AC75.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Linq.4.0.0.0.Nullness.Generated.xml/8DCD7885.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Linq.4.0.0.0.Pure.xml/9BAD1A06.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Linq.I18n.xml/8C9F1D7E.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.Linq.xml/21CA9248.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.xml/04E9321C.bin
_ReSharper.Ajedrez/XmlIndex/System.Xml.xml/48B5EA79.bin
_ReSharper.Ajedrez/XmlIndex/System.xml/083CE63E.bin
_ReSharper.Ajedrez/XmlIndex/System.xml/82B05E4B.bin
_ReSharper.Ajedrez/XmlIndex/System.xml/C3B3EEEE.bin
Ajedrez.v11.suo
UniteTest/bin/Debug/UniteTest.vshost.exe.manifest
Ajedrez/bin/Debug/Ajedrez.exe
Ajedrez/bin/Debug/Ajedrez.pdb
Ajedrez/obj/Debug/Ajedrez.exe
Ajedrez/obj/Debug/Ajedrez.pdb
UniteTest/bin/Debug/Ajedrez.exe
UniteTest/bin/Debug/Ajedrez.pdb
UniteTest/bin/Debug/UniteTest.exe
UniteTest/bin/Debug/UniteTest.pdb
UniteTest/obj/Debug/UniteTest.csprojResolveAssemblyReference.cache
UniteTest/obj/Debug/UniteTest.exe
UniteTest/obj/Debug/UniteTest.pdb
